<!DOCTYPE html>
<html>
  <head>
    <title>NotAllTrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
      window.linkedin = "<%= image_url('linkedin.png') %>"
      window.github = "<%= image_url('github.png') %>"
      window.logo = "<%= image_url('logo.png') %>"
      window.icon = "<%= image_url('profile-icon.png') %>"
      window.map = "<%= image_url('map.png') %>"
      window.printer = "<%= image_url('printer.png') %>"
      window.share = "<%= image_url('share.png') %>"
      window.park = "<%= image_url('park-mark.png') %>"
      window.trail = "<%= image_url('trail-mark.png') %>"
      window.search = "<%= image_url('search.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
